* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: white;
}

header {
  width: 80%;
  margin-left: 10%;
  padding: 2px;
}
main {
  background-image: url(public/Section.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
}
main h1 {
  padding-top: 99px;
  margin-top: 80px;
}

#header-form {
  color: black;
  width: 70%;
  margin-top: 40px;
  margin-left: 15%;
  padding: 8px;
  border-radius: 10px;
  background-color: white;
}
#header-form span {
  font-size: 40px;
}
header li {
  margin-top: 21px;
}

header li button {
  margin-top: -4px;
}

#why-choose-us {
  margin-top: 88px;
  width: 80%;
  margin-left: 10%;
}
#why-choose-us h3 {
  font-size: 17px;
  font-weight: 500;
}
#why-choose-us p {
  font-size: 14px;
  font-weight: 400;
}

#trending {
  width: 80%;
  margin-left: 10%;
  margin-top: 88px;
}
.col img {
  margin-top: 10px;
  width: 120px;
}
.col {
  width: 30px;
  margin: 5px;
}

.col h3 {
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 500;
  margin-left: 8px;
}
.col p {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin-left: 8px;
}
#popular-tours {
  margin-top: 100px;
  /* height: 300px; */
  /* background-color: red; */
}
.pop img {
  width: 100%;
}
.round {
  height: 40px;
  width: 40px;
  background-color: green;
  border-radius: 50%;
}
#card-holder {
  margin-top: 48px;
}
.pop p {
  font-size: 12px;
  color: #717171;
  margin-left: 8px;
  font-weight: 400;
}
.pop h3 {
  font-size: 15px;
  font-weight: 500;
}

.rating {
  text-align: center !important;
  font-weight: 400;
  font-size: 12px;
}
#book-now {
  height: 40vh;
}
#grab p {
  margin-top: 55px;
  color: #05073c;
  font-size: 40px;
  font-weight: 700;
}
