* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: white;
}

header {
  width: 80%;
  margin-left: 10%;
  padding: 2px;
}
main {
  background-image: url(public/Section.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
}
main h1 {
  padding-top: 99px;
  margin-top: 80px;
}

#header-form {
  color: black;
  width: 70%;
  margin-top: 40px;
  margin-left: 15%;
  padding: 8px;
  border-radius: 10px;
  background-color: white;
}
#header-form span {
  font-size: 40px;
}
header li {
  margin-top: 21px;
}

header li button {
  margin-top: -4px;
}

#why-choose-us {
  margin-top: 88px;
  width: 80%;
  margin-left: 10%;
}
#why-choose-us h3 {
  font-size: 17px;
  font-weight: 500;
}
#why-choose-us p {
  font-size: 14px;
  font-weight: 400;
}

#trending {
  width: 80%;
  margin-left: 10%;
  margin-top: 88px;
}
.col img {
  margin-top: 10px;
  width: 120px;
}
.col {
  width: 30px;
  margin: 5px;
}

.col h3 {
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 500;
  margin-left: 8px;
}
.col p {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin-left: 8px;
}
#popular-tours {
  margin-top: 100px;
  /* height: 300px; */
  /* background-color: red; */
}
.pop img {
  width: 100%;
}
.round {
  height: 40px;
  width: 40px;
  background-color: green;
  border-radius: 50%;
}
#card-holder {
  margin-top: 48px;
}
.pop p {
  font-size: 12px;
  color: #717171;
  margin-left: 8px;
  font-weight: 400;
}
.pop h3 {
  font-size: 15px;
  font-weight: 500;
}

.rating {
  text-align: center !important;
  font-weight: 400;
  font-size: 12px;
}
#book-now {
  height: 40vh;
}
#grab p {
  margin-top: 55px;
  color: #05073c;
  font-size: 40px;
  font-weight: 700;
}
.things-parent {
  margin-top: 40px;
}

.box-2 {
  height: 350px;
}

.top-trending {
  width: 90%;
  padding: 40px;
  margin-left: 5%;
  margin-top: 88px;
  background-color: #f5f5f5;
}

#reviews {
  height: 60vh;
  width: 100%;
  background-image: url("https://s3-alpha-sig.figma.com/img/a2f5/874a/47e24d083480095ba7c5802d90d770d6?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VBfKwc7hofdIfihCTA~WWdMCj8Jro2GlW5HotONtm~wUceeHtyCEcG~CLdYt78B4d7RmRvkdqmtNw6wIHUc02Gmv5OeebCb70mpHuHnTSgvg2Rqv1MC8-M0naO1-GuAmu~6yjBcGDHdsuPU9zT6m7eV~3kPVoPs76htC08m~VRVDImHTSxfa8pyq-3fRKuyRqNKyy~Jo9ZmXtqs21ZzZI7ZATm-2NjI8KPg9F3axgTWKaXHT3EQuOcfh3F3OZjIS-vliBtF8cRIcSRfhSW87ePSgoIU82A04erC7iY1WYDjI1H1O3bz7JwrM5jBPoN6AQzWDpDkPyHFw~jraMpMs3g__");
  background-size: cover;
  background-color: red;
  background-repeat: no-repeat;
}

#app-booking {
  height: 70vh;
  width: 90%;
  margin-left: 5%;
  border-radius: 15px;
  background-image: url("https://s3-alpha-sig.figma.com/img/0279/eb6d/3eb3a2e3a0c32d53f9e99dc6336e4021?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QCsGW-rRweyOC5e3byKUgOqVBcOb2tGHJ0-XrloUSN4ilxgewfx5ij3f6~Jy3PN0EiXPSnUI6UdhnE2FoLXmvzyTRkqGJrdcEMV3fbahyvK~rlPJqiU8fsxeDNSt4-Dn1o8PibO6j4Hnj-L23IV4DSF7qV9ghmIzd7g7NAz9aFXcsjlbJre0YSX5bxG7JEg9b7ng5Y6qXErzAJNOPSKlzjWRUilC3DZq3eBITmNyZ5bWrvTIb75AUlc7qMseN065LYL4iCbE4g6Yni6NGp42vWxsc2DGoyM2bub2FjCcw1DFHfzxgCg1c71ALdZovtuq1W3kPmSndpz8wlqqxnlkUg__");
  background-repeat: no-repeat;
  background-size: cover;
}

#app-booking div div p:first-child {
  font-size: 39px;
  font-weight: 700;
}
#app-booking div div p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
}
#app-booking p:last-child {
  font-size: 17px;
  font-weight: 400;
}

#articles {
  margin-top: 100px;
}
#articles div div p {
  font-size: 13px;
  color: #05073c;
  font-weight: 400;
}

#articles div div h3 {
  font-size: 17px;
  font-weight: 500;
  color: #05073c;
}


footer{
  margin-top: 50px;
  background-color: #fff7f4;
  padding: 100px;
}


.footer-heading{
  font-size: 20px;
  font-weight: 500;
  /* text-align: center; */
  margin-bottom: 45px;
}
.footer-list li a{
  color: black;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}